# open search config
OPENSEARCH_HOST=http://localhost:9200

# LLM Config
MODEL_PROVIDER=gemini # or bedrock

# Gemini / AI Config
GEMINI_API_KEY=your-gemini-api-key
PRIMARY_LLM_MODEL=gemini-2.5-flash
EMBEDDING_MODEL=gemini-embedding-001

# Storage & Cedar
DATABASE_URL=sqlite:///./local_state.db
CEDAR_POLICIES_PATH=cedar/policies

# csv/dataset file paths
CSV_AID_PROGRAMS_PATH=data/aid_programs_populated.csv
AUDIT_SCENARIOS_PATH=data/audit_scenarios.csv

# Bedrock Config
BEDROCK_MODEL_ID=your-bedrock-model-id
BEDROCK_REGION=your-aws-region

# Authentication 
SECRET_KEY=your-secret-key-change-in-production
COOKIE_SECURE=false

# DynamoDB Config (leave empty to use AWS Cloud DynamoDB)
DYNAMODB_ENDPOINT_URL=http://localhost:8001
DYNAMODB_TABLE_USERS=your-dynamodb-table-name
DYNAMODB_REGION=your-aws-region
DYNAMODB_TABLE_TRANSLATIONS=your-dynamodb-table-name-for-translations

# AWS Credenditials
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_DEFAULT_REGION=your-aws-region